
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'images' %}">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>